{% extends "base.html" %}

{% block title %}Knowledge Management - MCP Knowledge Server{% endblock %}

{% block extra_styles %}
{% include 'knowledge_styles.html' %}
{% endblock %}

{% block content %}
<div class="import-path-info">
    <b>Knowledge Import Path:</b> <code>{{ import_path }}</code>
</div>

<div class="tabs">
    <button class="tab-btn active" data-tab="import-tab">Import</button>
    <button class="tab-btn" data-tab="list-tab">List</button>
    <button class="tab-btn" data-tab="query-tab">Query</button>
    <button class="tab-btn" data-tab="collections-tab">Collections</button>
    <button class="tab-btn" data-tab="sync-tab">Sync</button>
    <button class="tab-btn" data-tab="code-indexing-tab">Code Indexing</button>
    <button class="tab-btn" data-tab="code-viewer-tab">Code Viewer</button>
</div>

{% include 'tabs/import_tab.html' %}

{% include 'tabs/list_tab.html' %}

{% include 'tabs/query_tab.html' %}

{% include 'tabs/collections_tab.html' %}

{% include 'tabs/sync_tab.html' %}

{% include 'tabs/code_indexing_tab.html' %}

{% include 'tabs/code_viewer_tab.html' %}
{% endblock %}

{% block extra_scripts %}
{% include 'knowledge_scripts.html' %}
{% endblock %}
